version: '3.8'


services:
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./path/to/certs:/etc/nginx/ssl:ro
    ports:
      - "80:80"
      - "443:443"
    networks:
      - webnet
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 5s
        order: start-first
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 10
        window: 15s
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=webnet"
        - "traefik.http.services.myrouter-01.loadbalancer.server.port=80"
        ### Middlewares
        # https-redir
        - "traefik.http.middlewares.https-redir.redirectscheme.scheme=https"
        - "traefik.http.middlewares.https-redir.redirectscheme.permanent=true"
        # www-redir
        - "traefik.http.middlewares.www-redir.redirectregex.regex=^https://www.(.*)"
        - "traefik.http.middlewares.www-redir.redirectregex.replacement=https://$${1}"
        - "traefik.http.middlewares.www-redir.redirectregex.permanent=true"
        ### Entrypoints
        # web
        - "traefik.http.routers.myrouter-01.rule=Host(`example.com`, `www.example.com`)"
        - "traefik.http.routers.myrouter-01.entrypoints=web"
        - "traefik.http.routers.myrouter-01.middlewares=https-redir@docker"
        # websecure
        - "traefik.http.routers.myrouter-02.rule=Host(`example.com`, `www.example.com`)"
        - "traefik.http.routers.myrouter-02.entrypoints=websecure"
        - "traefik.http.routers.myrouter-02.middlewares=www-redir@docker"
        - "traefik.http.routers.myrouter-02.tls=true"
        - "traefik.http.routers.myrouter-02.tls.certresolver=myCloudflare"
        - "traefik.http.routers.myrouter-02.tls.domains[0].main=example.com"
        - "traefik.http.routers.myrouter-02.tls.domains[0].sans=*.example.com"

  # wordpress
  wordpress:
    image: wordpress:latest
    hostname: "wordpress"
    volumes:
      - wp_data:/var/www/html
      - ./wp_uploads:/var/www/html/wp-content/uploads
      - ./apps/wordpress/php.ini:/usr/local/etc/php/php.ini  #revisar
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: jackrom
      MYSQL_PASSWORD: 10092558@Sissi
      WORDPRESS_DB_PASSWORD: 10092558@Sissi
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_TABLE_PREFIX: wp_
      MYSQL_DATABASE: wordpress
      MYSQL_USER: jackrom
    networks:
      - webnet
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 5s
        order: start-first
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 10
        window: 15s
      labels:
        - "traefik.enable=false"

  # mysql
  db:
    image: mariadb:10.6.4-focal
    command: '--default-authentication-plugin=mysql_native_password'
    volumes:
      - db_data:/var/lib/mysql:rw
      - configuration/conf.d/mysql.cnf:/etc/mysql/conf.d/my.cnf:rw
    restart: always
    logging:
      driver: json-file
      options:
        max-size: 10m  #tamaño máximo para fichero de log 10Mb
        max-file: 2    #numero máximo de fichero de log que se guardarán
        labels: "produccion, java, asdfasdf"   #aquí estaríamos añadiendo etiquetado a los logs generados por este contenedor (muy últil cuando usamos un sistema de concentración de logs)
    healthcheck:
      test: '/usr/bin/mysql --user=healthcheck --password=healthcheck --execute "SHOW DATABASES;"'
      interval: 1m
      retries: 1
      timeout: 10s
    environment:
      - MYSQL_ROOT_PASSWORD=10092558@Sissi
      - MYSQL_USER=jackrom
      - MYSQL_PASSWORD=10092558@Sissi
    ports:
      - '3306:3306'
    expose:
      - 3306
      - 33060
    networks:
      - webnet
    network_mode: bridge
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 10
        window: 15s
      labels:
        - "traefik.enable=false"

  # phpmyadmin
  phpmyadmin:
    image: phpmyadmin
    hostname: "phpmyadmin"
    restart: always
    environment:
      - PMA_HOST=db
      - PMA_USER=jackrom
      - PMA_PASSWORD=10092558@Sissi
    networks:
      - webnet
    deploy:
      replicas: 1
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s

networks:
  webnet:
    driver: overlay

volumes:
  db_data:
  wp_data:
